<div class="card white lighten-4">
  <div class="card-content">
    <span class="card-title">Employee Assignments</span>
    <% if @employee.assignments.empty? %>
      <p> No assignments available. </p>
    <% else %>
      <ul>
        <% for assignment in @employee.assignments %>
          <li>
            <% if can? :destroy, Assignment %>
              <%= link_to(assignment_path(assignment), class: 'remove', method: :delete) do %>
                x&nbsp;&nbsp;
              <% end %>
            <% end %>
            <%= link_to "#{assignment.start_date}, #{assignment.store.name}", assignment %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <% if can? :new, Assignment %>
    <div class="card-action">
      <%= link_to "Assign to Store", new_assignment_path(employee_id: @employee.id), class: 'waves-effect waves-light btn' %>
    </div>
  <% end %>
</div>