<h1>Current Assignments</h1>

<table>
  <thead>
    <tr>
      <th>Start Date</th>
      <th>Store</th>
      <th>Employee</th>
      <th>Pay Grade</th>
      <th>Shift Count</th>
    </tr>
  </thead>


</table>
