<%= form_with url: store_payroll_path, local: true do |f| %>
  <div class="control-group">
    <%= f.label :id, "Store" %>
    <div class="controls">
      <%= f.collection_select :id, Store.active.alphabetical.all, :id, :name, {}, { class: "form-control" } %>
    </div>
  </div>

<% end %>