<%= form_with url: employee_payroll_path, local: true do |f| %>
  <div class="control-group">
    <%= f.label :id, "Employee" %>
    <div class="controls">
      <%= f.collection_select :id, Employee.active.alphabetical.all, :id, :proper_name, {}, { class: "form-control" } %>
    </div>
  </div>

<% end %>