<div id="main_content">
  <h3>About Us</h3>
  <p>Cafe23 is a cafe chain selling amazing drinks.</p>
  <p> We are a newly-established, family-owned and operated business that has been serving up delicious coffee and tea drinks.
      We use only the freshest ingredients and our baristas are experts in their craft. Whether you're looking for a classic cup of 
      coffee or something more creative, we have something for everyone. </p>
  <p>We are proud to be a part of the community and we are committed 
     to providing our customers with the best possible experience. We hope to see you soon!</p>
  <%= link_to "About the Cafe23 Management System", about_path, class: 'waves-effect waves-light btn'%>
</div>