<div id="main_content">
  <h1>About Us</h1>
  <p>Some information about our company...</p>
  <%= link_to "About the Cafe23 Management System", cafe23_path %>
</div>


<div id="footer">
  <h1>About</h1>
</div>