<div id="main_content">
  <h3>Cafe23 Privacy Policy</h3>
  <p>We're a quirky bunch here at Cafe23, and we like to keep things fun and light-hearted. 
  <p>That's why our private policy is just as quirky as we are.</p>
  <p>We promise to never share your personal information with anyone, unless it's absolutely necessary to do so (like if you order a coffee and we need to know your name). We also promise to never spam you, and we'll always respect your privacy.</p>
  <p>So come on in, relax, and enjoy a cup of coffee with us! We promise you won't be disappointed.</p>
</div>