<div class="card white lighten-4">
  <div class="card-content">
    <span class="card-title">Jobs Worked on Shift</span>
    <% unless @shift.shift_jobs.empty? %>
      <ul>
        <% for shift_job in @shift.shift_jobs %>
          <li>
            <% if can? :destroy, ShiftJob %>
              <%= link_to(shift_job_path(shift_job), class: 'remove', method: :delete) do %>
                x&nbsp;&nbsp;
              <% end %>
            <% end %>
            <%= link_to "#{shift_job.shift.date}, #{shift_job.job.name}", shift_job %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <% if can? :new, ShiftJob %>
    <div class="card-action">
      <% if @shift.status == :completed %>
        <%= link_to "Add Job to Shift", new_shift_job_path(job_id: @job), class: 'waves-effect waves-light btn' %>
      <% else %>
        <p>Jobs cannot be added without completing shift.</p>
      <% end %>
    </div>
  <% end %>
</div>